:root {
    --color-primary: #ffffff;
    --color-secondary: #fbdede;
    --color-tertiary: #C4C4C4;
    --color-button: #ff9ea0;
    --color-button-hover: #ed8183;
    --color-text: #444444;
    --color-title: #f59db4;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0;
}

.seal-image {
    position: center;
    top: 10px;
    right: 10px;
    width: 150px;
    height: auto;
    margin-left: 20px;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
    
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Chicle", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-title);
    letter-spacing: 3px;
}

.section-title {
    font-family: "Chicle";
    font-size: 36px;
    font-weight: 500;
    color: var(--color-text);
    margin: 10px 0;
    text-align: center;
    letter-spacing: 2.5px;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    display: flex; 
    justify-content: center;
    gap: 15px;             /* Espacio entre botones */
    margin-top: 20px;   
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(244, 252, 215, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #9bc5ff;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #8442ff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px 50px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    border-radius: 20px;  
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}
